{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Document</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
          text-align: left;    
        }
        </style>
</head>
<body>
    <h1>Profil saya </h1>
    <table style="width:100%">
        <tr> 
            <th>Nama</th>
            <td>Gerrad Natanael Daloma</td>
        </tr>
        <tr> 
            <th>NPM</th>
            <td>1906398704</td>
        </tr>
        <tr> 
            <th>Angkatan</th>
            <td>2019</td>
        </tr>
        <tr> 
            <th>Hobi</th>
            <td>
                <p>-Denger musik</p>
                <p>-Main musik</p>
                <p>-Main catur</p>
                <p>-Baca webtoon, manhwa, manhua</p>
                <p>-Ngoding</p>
                <p>-Olahraga</p>
            </td>
        </tr>
    </table>
</body>
</html>
